<!doctype html>
<html lang="en">
    <head>
        <style>
            body {
                background-color: #023373;
            }
        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My project</title>
    </head>
    
    <body>
        
        <div style="width: 1046.41px; height: 662.23px; position: relative">
            <img style="width: 223.40px; height: 122.56px; left: 0px; top: 0px; position: absolute" src="https://via.placeholder.com/223x123" />
            <div style="width: 453.09px; height: 26.47px; left: 572px; top: 39px; position: absolute; color: white; font-size: 25px; font-family: Port Lligat Sans; font-weight: 400; word-wrap: break-word">Home    Aplication    About    Service    More</div>
            <img style="width: 524.41px; height: 490.23px; left: 522px; top: 172px; position: absolute" src="https://via.placeholder.com/524x490" />
            <div style="width: 424.78px; height: 152.95px; left: 40.90px; top: 131.38px; position: absolute; color: #63E0FF; font-size: 65px; font-family: Lato; font-weight: 700; word-wrap: break-word">Welcome to<br/>QTA Software</div>
            <div style="width: 463.58px; height: 263.75px; left: 32.51px; top: 301.98px; position: absolute; color: #F5FCFF; font-size: 25px; font-family: Lato; font-weight: 400; word-wrap: break-word">Our QTA software is designed to simplify and optimise your support<br/>experience. Whether you run a business, a healthcare organisation<br/>or any entity that requires an effective technical problem management<br/>system, QTA is here to make your life easier.</div>
            <div style="width: 183.54px; height: 60.79px; left: 133.20px; top: 574.55px; position: absolute; background: #34A2FF; border-radius: 100px"></div>
            <div href= "mainscreen.html" style= "width: 78.66px; height: 29.41px; left: 184.59px; top: 592.20px; position: absolute; color: white; font-size: 20px; font-family: Lato; font-weight: 700; word-wrap: break-word">START</div>
          </div>
    </body>
</html>